<mat-vertical-stepper>
  <mat-step label="Connaissez-vous les dimensions de la salle de bain à rénover ?">
    Oui ? Non ?
  </mat-step>
  <mat-step label="Saisissez la longueur et la largeur de la pièce (en cm)">
    Longueur ? largeur ?
  </mat-step>
  <mat-step label="Quels équipements désirez-vous installer ?">
    Baignoire ? Armoire ? Lavabo ? (Au moins un choix, message si rien choisi)
  </mat-step>
  <mat-step label="Quel type de sol désirez-vous installer ?">
    Parquet ? Carrelage ? Béton ciré ? (Un unique choix obligatoire)
  </mat-step>
</mat-vertical-stepper>
