:host {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 16px;
}

mat-vertical-stepper {
	max-width: 100%;
}

.mat-radio-button {
	padding: 10px 0;
}

.mat-radio-button {
	margin-right: 16px;
}

mat-form-field:first-of-type {
	margin-right: 16px;
}

.raised-button-container button {
	margin-right: 16px;
}

.mat-raised-button {
	margin: 15px 0;
}

.checkbox-container {
	display: flex;
	align-content: center;
	align-items: center;
	height: 60px;
	flex-wrap: wrap;
}

.checkbox {
	margin: 0 10px;
}

.right-side {
	margin: 24px;
	min-width: 300px;
}

.form-state {
	padding: 20px;
	border: 1px solid black;
	margin-top: 40px;
}

.price {
	font-size: 40px;
	background: #cecece;
	padding: 15px;
	color: #3f51b5;
}

.error {
	color: #f44336;
}
